* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 14px;
}

.boxes-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 100vh;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.333%;
  flex-direction: column;
  height: 33.333%;
}

.button-container {
  display: flex;
  width: 100%;
  padding-top: 25px;
}

button {
  display: flex;
  font-size: 16px;
  background: #646F58;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  width: 120px;
  align-items: center;
}

.about {
  margin-right: 30px;
}

.info,
.contact {
  justify-content: flex-start;
  width: 20px;
  height: 20px;
}

.info {
  margin: 0 10px 0 5px;
}

.contact {
  margin: 0 5px 0 0;
}

.dots {
  position: absolute;
  top: 30px;
  margin-left: 80%;
  height: 20px;
  width: 50px;
}

.dot1,
.dot2 {
  background: url(assets/dot.svg) no-repeat;
  background-size: cover;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 3px;
}

.dot2{
  opacity: .6;
}

.right-arrow,
.left-arrow {
  width: 40px;
  height: 40px;
  opacity: .7;
}

.right-arrow:hover,
.left-arrow:hover {
  opacity: 1;
}

.right-arrow{
  background: url(assets/right-arrow.svg) no-repeat;
  background-size: cover;
  position: absolute;
  top: 50vh;
  left: 85%;
}

.left-arrow {
  background: url(assets/left-arrow.svg) no-repeat;
  background-size: cover;
  position: absolute;
  top: 50vh;
  right: 85%;
}

.icon {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  background: url(assets/plane.svg) no-repeat;
  background-size: cover;
}

.icon:hover {
  cursor: pointer;
}

.icon1 {
  background: url(assets/fox.svg) no-repeat center;
  background-size: cover;
}

.icon2 {
  background: url(assets/paws.svg) no-repeat center;
  background-size: cover;
}

.icon3 {
  background: url(assets/trees.svg) no-repeat center;
  background-size: cover;
}

.icon4 {
  background: url(assets/dislike.svg) no-repeat center;
  background-size: cover;
}

.icon5 {
  background: url(assets/taco.svg) no-repeat center;
  background-size: cover;
}

.icon6 {
  background: url(assets/tv.svg) no-repeat center;
  background-size: cover;
}

.icon7 {
  background: url(assets/nap.svg) no-repeat center;
  background-size: cover;
}

.title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
}

.div1 {
  padding: 0 30px 0 30px;
  width: 66.6667%;
  background: #646F58;
  align-items: flex-start;
  line-height: 25px;
}

.div2 {
  background: #AFBE8F;
}

.div3 {
  background: #273C2C;
}

.div4 {
  background: #504B3A;
}

.div5 {
  background: grey;
}

.div6 {
  background: #AFBE8F;
}

.div7 {
  background: #273C2C;
}

.div8 {
  background: #646F58;
}

.body-container {
  display: flex;
  width: 100%;
}

.hero-container {
  width: 40%;
  position: relative;
}

.hero {
  background: url(assets/hero.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
}

@media screen and (max-width: 910px) {

  .body-container {
    height: 100%;
    flex-wrap: wrap;
  }

  .boxes-container {
    width: 100%;
  }

  .box {
    width: 50%;
    height: 20%;
  }

  .dots {
    margin-left: 90%;
  }

  .div1,
  .div2 {
    width: 100%;
  }

  .div1 {
    height: 30vh;
  }

  .hero {
    background-position: 0px -230px;
    height: 50vh;
    width: 100%;
  }

  .hero-container {
    display: flex;
    order: -1;
    height: 50vh;
    width: 100%;
  }

  .right-arrow {
    top: 22vh;
    left: 90%;
  }

  .left-arrow {
    top: 22vh;
    right: 90%;
  }
}

@media screen and (max-width: 750px) {
  .hero {
    background-position: center;
  }

  .dots {
    margin-left: 87%;
  }
}

@media screen and (max-width: 400px) {
  .box {
    width: 100%;
  }

  .icon {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }

  .title {
    padding-bottom: 10px;
  }

  .dots {
    margin-left: 82%;
  }

  .right-arrow {
    left: 85%;
  }

  .left-arrow {
    right: 85%;
  }
}
